.sound-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-button:hover {
  background-color: #357abd;
}
